

.App {
  text-align: center;
}

/* .img {
  float: left;
  width:  650px;
  height: 640px;
  background-size: cover;
}

.player-wrapper {
  width: auto; 
  height: auto; 
}
.react-player {
  padding-top: 56.25%; 
  position: relative;
}

.react-player > div {
  position: absolute; 
}

.carousel .slide img {
  max-height: 100vh;
  width: auto
} */